#navbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.1);
}

#logoContainer {
    flex: 0 0 5%;
}

#searchContainer {
    flex: 0 0 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navLinks {
    flex: 0 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    svg {
        cursor: pointer;
    }
    #personIcon {
        cursor: pointer;
        width: 24px;
        height: 24px;
        fill: #333;
    }
}

#dropDownContainer {
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;

    p, a, button {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        color: #333;
        background-color: #ffffff;
        border: none;
        width: 100%;
        text-align: left;
        cursor: default;
    }
}

#dropDownContainer.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
    // first p element child
    p:first-child {
        cursor: default;
    }
    p, a, button {
        cursor: pointer;
    }
}
