#navbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0px;
}

#logoContainer {
    flex: 0 0 5%;
    cursor: pointer;
}

#pigImage {
    width: 100%;
    aspect-ratio: 1/1;
}

#searchContainer {
    flex: 0 0 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 80%;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        outline: none;
        margin-left: 5px;
    }

    input:focus + #searchIcon {
        fill: #007bff;
    }

    svg {
        width: 24px;
        height: 24px;
        fill: #333;
        cursor: pointer;
        align-self: center;
    }

    svg:nth-child(1) {
        margin-left: 10px;
    }

    svg:nth-child(2) {
        margin-right: 10px;
    }
    
    #exploreContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .borderExploreContainer {
        border-left: 1px solid #333;
    }
}

#searchBarContainer {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    border-radius: 60px;
    padding: 10px 0px;
    transition: border 0.2s ease;
    
    &:focus-within {
        border: 1px solid #007bff;
    }
}

#navLinks {
    flex: 0 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    svg {
        cursor: pointer;
    }
    #personIcon {
        cursor: pointer;
        width: 24px;
        height: 24px;
        fill: #333;
    }
}

#dropDownContainer {
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    padding: 10px 0 15px;

    p, a, button {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        color: #333;
        background-color: #ffffff;
        border: none;
        width: 100%;
        text-align: left;
        cursor: default;
        width: fit-content;
        margin: 0 auto;
    }
}

#logoutButton {
    border: 1px solid #dc3545 !important;
    border-radius: 80px;
    color: #dc3545 !important;
    background-color: #ffffff !important;
    margin-top: 10px !important;
    width: 50% !important;
    text-align: center !important;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    margin: auto;
    cursor: pointer;

    p {
        margin: 0 !important;
        padding: 0 !important;
        transition: background-color 0.3s ease;
        cursor: pointer !important;
    }

    svg {
        width: 16px;
        height: 16px;
        fill: #dc3545;
    }
}

#logoutButton:hover svg {
    fill: #ffffff;
}

#logoutButton:hover {
    background-color: #dc3545 !important;
    
    p {
        color: #ffffff !important;
        background-color: #dc3545 !important;
    }
}

#dropDownContainer.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
    p:first-child {
        cursor: default;
    }
    p, a, button {
        cursor: pointer;
    }
}
